body{
    background-color: cornsilk;
}
h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dodgerblue;
    font-size: 70px;
}
.table{
    border-collapse: collapse;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border-spacing: 5px;
}
.table tr:hover{
    background-color: #ddd;
}
.table th{
    table-layout: fixed;
    background-color: goldenrod;
    border-spacing: 5px;
}
.table td{
    padding-top: 12px;
    padding-bottom: 12px;
    border-spacing: 5px;
}
